#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# VS Code
.vscode

# Cocoapods
ios/Pods

# Secrets
.env
fastlane/google-play.json

# Build Artifacts
*.dSYM.zip
*.ipa
fastlane/README.md
fastlane/report.xml
index.android.map
index.ios.map
/artifacts
/build
